body{
 	color: #000;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 30%;
    margin: 10%;
    background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
}

#coursenav {
	width: 100%;
	height: 100%;
	padding-left: 30%;
}

li {
	padding-left: 30%;
	list-style: none;
}
html, body {
  height: 100%;
  width: 100%;
}
