@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body {
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  height: 100%;
  width: 100%;
}

.container{
  width: 100%;
  color: #000;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-weight: 30%;
  padding: 0px;
}

.output-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: #e0d6f9;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin: 0px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.form {
  margin-bottom: 20px;
}

.form .btn {
  margin-left: 20px;
  margin-top: -3px;
}

.input-field {
  width: 100%;
  font-size: 16px;
  height: 32px;
}

.school-input-field {
  width: 100%;
  font-size: 16px;
  height: 32px;
}

td, th {
  padding-right: 10px;
}

.create-major td, .create-major th {
  display: block;
  padding-right: 0px;
}

.create-major {
  width: 100%;
}

.create-major .input-field {
  width: 100%;
  margin-bottom: 10px;
}

.create-major .btn {
  margin-left: 0px;
}

.comment-label {
  vertical-align: top;
}

.comment {
  overflow-x: hidden;
  resize: none;
  font-size: 16px;
  margin-left: 10px;
  width: 100%;
}

.comment-container {
  height: 140px;
  margin-top: 20px;
}

.left-align {
  margin-left: 0px!important;
}

.input-field select {
  border: 1px solid black;
}

.school-btn {
  margin-top: 5px!important;
  margin-left: 0px!important;
  display: block;
}

.school-label {
  display: block;
}

@media only screen and (min-width: 650px) {
  .create-major td, .create-major th {
    padding-right: 30px;
    display: table-cell;
  }
  
  .comment {
    overflow-x: hidden;
    resize: none;
    font-size: 16px;
    margin-left: 20px;
    width: inherit;
  }
  
  .create-major {
    width: inherit;
  }

  td, th {
    padding-right: 30px;
  }
  
  .school-input-field {
    width: auto;
    font-size: 16px;
    height: 32px;
    margin-bottom: 10px;
  }
  
  .school-btn {
    margin-top: -3px!important;
    margin-left: 20px!important;
    display: inline-block;
  }
  
  .school-label {
    display: inline-block;
  }
  
  .input-field {
    width: 30%;
    font-size: 16px;
    height: 32px;
  }
}